@font-face {
    font-family: 'Soulside Betrayed';
    src: url('SoulsideBetrayed.woff2') format('woff2'),
        url('SoulsideBetrayed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

